// Global UI
$light-theme-colors-background: #FAFAFA;
$light-theme-colors-text: #121315;
// Navbar
$light-theme-colors-navbar-background: #281E3D;
$light-theme-colors-navbar-bottom-text: #FAFAFA;
// General Colors
$light-theme-colors-violet: #c700eb;
$light-theme-colors-blue: #006eeb;
