.footer-component {
  box-shadow: 100px 30px 200px rgba(0, 0, 0, 0.1);
  @include theme() {
    background-color: theme-get("light-theme-colors-navbar-background");
  }
  width: 100%;
  height: auto;

  .bottom-text {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0.5rem 0;
    @include theme() {
      color: theme-get("light-theme-colors-navbar-bottom-text");
    }
  }
}
